
.menu{

    /*display: flex;
    justify-content: space-between;*/
    background-color: #000000;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 400;
    color: purple;

}

/*body{
    margin: 0x;
    background-color: #f7f2f2;
    

}*/

.bodyimg{

    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: purple;

}

.grid img{

    border: 2px solid #000000;
    border-radius: 50px;

}

/*.origami{

    border-radius: 20px;
    background-color: #ffffff;
    padding: 30px;
    margin: 25px;
    width: 310px;
    font-family: fantasy;


}*/

a:link{
    color: white;
}

a:visited{
    color: white;
}

.origami:hover{

    position: absolute;
    transform: scale(1.2);
    opacity: 0.75;
}

.bodyimg{ 
    position: relative; 
} 
.bodyimg p{ 
    color:#f7f2f2; 
    font-size: 55px; 
    font-family: fantasy; 
    position: absolute; 
    top:10%; 
    left:50%; 
    transform: translate(-50%,-50%); 
}

.footer{
    position: absolute;
    top: 90%;
    left: 22%;
    color: #ffffff;
}

